.topic_list{
    padding: 0rem;
    margin: 0rem;
    width: 100%;
    max-width: 400px;
	background-color: white;
	color: #333;
	display: inline-block;
	
	.header.colored{
		background-color: #333;
		color: white;
	}

	.header{
		padding: 1rem;

		h4{
			font-weight: bold;
			margin: 0.5rem 0 0.2rem 0;
		}

		h6{
			font-size: 1.3rem;
			line-height: 1.4rem;
			height: 2.8rem;
			margin: 0;
		}
	}
}

.topic_list.border{
	border: 1px solid #ccc;
	width: 100%;
}    
