.core-ui-list{


  .list{
    filter: none;
    z-index: 1;
    overflow: hidden;

    .item{
      position: relative;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0.25rem;
      margin: 0rem;

      .MuiListItemText-root{
      	padding: 0;
      	margin: 0;
      	line-height: normal;
      }

      .num{
        padding: 0.25rem;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 0.5rem;
      }

      span {
      	font-size: 0.75rem;
      	line-height: 0.8rem;
      }
    }

    .item-subheader{
      background-color: white;
    }
  }

  .list.blur{
    filter: blur(5px);
  }

  .MuiAvatar-colorDefault{
    background-color: transparent;
    border: 1px solid #bababa;
  }

}